style type="text/css">
.grigio{background-color: grey;}
.giallo{background-color: yellow;}
</style>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<input type="text" name="richiesta" ng-model="richiesta" ng-change="Pop()"></input>

<div class="row marketing" ng-repeat="aww in awesomeThings" ng-if="isEven($index) || numInput($index)">

<!---<h4 ng-click="StampaPari($index)" ng-class="{ 'grigio':isEven($index), 'giallo':!isEven($index)}"> {{aww}} </h4>-->

<!---<h4 ng-click="StampaPari($index)" ng-style="greyEven($index)">
{{aww}}
<button ng-style="greyEven($index)">INFO</button>
 </h4> -->


<!--<h4 ng-click="StampaPari($index)" ng-style="serveColor('testo')" ng-bind-template="{{aww}} info:   {{bottoneHtml}}">
 </h4>-->

 <!--<h4 ng-if="isEven($index)">  {{aww}} </h4>-->
 {{aww}}

<!--<h4 ng-click="StampaPari($index)" ng-style="serveColor('testo')">
{{aww}}
<button ng-class-even="greyClassEven($index)" ng-class-odd="greyClassEven($index)">INFO</button>
 </h4> -->



</div>